
html {
	height:100%;
}


body {
	background-color:gray;
	font-family:"myriad pro", arial, sans-serif;
	height:100%;
	width:100%;
}

#award {
	width:100%;
	margin-bottom:0px;
	text-align:center;
}

#award_holder {
	bottom:0px;
	position:absolute;
	width:80%;
	border: 2px solid black;
}

#award td {
	width:30%;
	text-align:center;
}

.controls {
	padding:5px;
}

#correct_holder {
	bottom:0px;
	margin:auto;
}

#correct_holder td {
	width:40%;
	text-align: center;
	font-size:50px;
	color:white;
}

#board {
	width:100%;
	height:100%;
	text-align:center;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
}

#board th{
	font-weight: bold;
	font-size: 30pt;
	text-align:center;
}

#board td {
	text-align: center;
	font-size:30pt;
	font-weight:bold;
}

#board_holder {
	float:right;
	width: 90%;
	height: 100%;
}

#fullscreen {
	height:100%;
	width:90%;
	position:absolute;
	text-align:center;
	padding:10% 10% 30% 10%;
}

#fullscreen .third-button {
	
}

#award_t1 {
	
}

#award_t2 {
	
}

#question {
	width:100%;
	height:100%;
}

#right {
	background-color:green;
}

#wrong {
	background-color:red;
}


#score_holder {
	float:left;
	width:10%;
	height:100%;
	background-color:orange;
}

.scorecard {
	height:48%;
	text-align:center;
	word-wrap: break-word;
}

.square {
	color:#E3DA5F;
	border:5px solid black;
	background: #4162ad; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0MTYyYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyYTYzZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmU4ZGNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #4162ad 0%, #2a63d6 50%, #6e8dcc 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4162ad), color-stop(50%,#2a63d6), color-stop(100%,#6e8dcc)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #4162ad 0%,#2a63d6 50%,#6e8dcc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #4162ad 0%,#2a63d6 50%,#6e8dcc 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #4162ad 0%,#2a63d6 50%,#6e8dcc 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #4162ad 0%,#2a63d6 50%,#6e8dcc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4162ad', endColorstr='#6e8dcc',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
}

.wrapper {
	width:75%;
	margin: 100px auto auto auto;
}